@import '~simple-notify/dist/simple-notify.css';

.sn-notifications-container {
	width: auto;
	
	--sn-success-color: rgb(111, 207, 151);
	--sn-success-progress-color: rgb(84, 170, 120);
	--sn-error-color: rgb(235, 87, 87);
	--sn-error-progress-color: rgb(192, 69, 69);
	--sn-warning-color: rgb(242, 201, 76);
	--sn-warning-progress-color: rgb(196, 166, 79);
	--sn-info-color: rgb(97, 178, 255);
	--sn-info-progress-color: rgb(38, 150, 249);
	
	--sn-notifications-gap: 40px;
	--sn-notifications-padding: 40px;
}
