.jupwa-widget {
	position: fixed;
	z-index: 50;
	bottom: 2.5rem;
	left: 2.5rem;
	width: fit-content;
}

.jupwa-button {
	position: relative;
	z-index: 10;
	color: #dc2626;
	border: 2px solid white;
	width: 3.5rem;
	height: 3.5rem;
	padding: 0.25rem;
	background-color: #fff;
	border-radius: 9999px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1),
	0 4px 6px -2px rgba(0, 0, 0, 0.05);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s;
	cursor: pointer;
	
	&:hover {
		opacity: 0.85;
	}
}

.jupwa-button-subscrided {
	background-color: #cbd5e1 !important;
	color: #64748b !important;
	opacity: 0.7 !important;
	cursor: pointer;
}

.jupwa-panel {
	position: absolute;
	bottom: 4.5rem;
	width: 18rem;
	overflow: hidden;
	border-radius: 0.375rem;
	background-color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15),
	0 4px 6px -2px rgba(0, 0, 0, 0.05);
	padding: 1rem;
}

.jupwa-hidden {
	display: none;
}

.jupwa-info {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.jupwa-information {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	
	li {
		display: flex;
		gap: .5rem;
		font-size: 0.938rem !important;
	}
	
	svg {
		color: #15803d;
	}
}

.jupwa-header {
	font-size: 1.25rem;
	font-weight: 500;
	display: flex;
	gap: 0.375rem;
	align-items: center;
}

.jupwa-subheader {
	margin-top: 4px;
	font-size: 0.875rem;
	color: #64748b;
}

.jupwa-animation {
	border: 1px solid #e2e8f0;
	padding: 1rem;
}

.jupwa-pulse {
	display: flex;
	gap: 1rem;
}

.jupwa-pulse-icon {
	border-radius: 9999px;
	background-color: #cbd5e1;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	
	svg {
		color: #fff;
	}
}

.jupwa-pulse-placeholder {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.jupwa-pulse-visual {
	height: 0.5rem;
	background-color: #cbd5e1;
	border-radius: 0.25rem;
}

.jupwa-pulse-placeholder-space {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	
	> div {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
}

.jupwa-pulse-visual1 {
	grid-column: span 1 / span 1;
}

.jupwa-pulse-visual2 {
	grid-column: span 2 / span 2;
}

.jupwa-action {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	
	button {
		padding-top: 0.475rem;
		padding-bottom: 0.475rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		font-size: 1rem;
		border-radius: 9999px;
		outline: none;
		transition: background-color 0.2s;
		cursor: pointer;
		
		&:focus {
			box-shadow: 0 0 0 4px rgba(239, 246, 255, 0.5);
		}
	}
}

.jupwa-subscribe {
	color: #fff;
	background-color: #dc2626;
	border: #fff;
	
	&:hover {
		background-color: #b91c1c;
	}
}

.jupwa-unsubscribe {
	color: #dc2626;
	background-color: transparent;
	border: 1px solid #dc2626;
	
	&:hover {
		background-color: #b91c1c;
		color: #fff;
	}
}